.gc-timeline {
  @apply select-none;
  .gc-body {
    @apply flex divide-x overflow-hidden rounded-lg border text-xs;
    .gc-resources {
      width: 20em;

      .gc-spacers {
        @apply bg-gray-50 dark:bg-gray-900;
        .gc-spacer {
          @apply h-8;
        }

        .gc-spacer:last-child {
          @apply border-b;
        }
      }

      .gc-resource {
        @apply flex items-center px-2 py-1 min-h-8;
      }
    }

    .gc-main {
      @apply relative overflow-x-scroll bg-white dark:bg-gray-900;

      .gc-time-slot-lines {
        @apply absolute flex h-full divide-x z-10;

        .gc-month {
          @apply flex h-full divide-x;
        }

        .gc-day {
          @apply flex h-full divide-x;
        }

        .gc-hour {
          @apply flex h-full divide-x divide-dotted;
        }

        .gc-time-slot {
          @apply h-full w-6;
        }
      }

      .gc-time-slot-heading {
        .gc-months {
          @apply flex h-full divide-x;
          .gc-month {
            @apply h-full bg-gray-50 dark:bg-gray-900;
            .gc-month-text {
              @apply flex h-8 items-center justify-center border-b;
            }
          }
        }

        .gc-days {
          @apply flex h-full divide-x;
          .gc-day {
            @apply h-full;
            .gc-day-text {
              @apply flex h-8 items-center justify-center border-b;
            }
          }
        }

        .gc-hours {
          @apply flex h-full;
          .gc-hour {
            @apply h-full;
            .gc-hour-text-container {
              @apply flex h-8 items-end border-b;
              margin-left: -0.5em;

              .gc-hour-text {
                @apply flex justify-center;
                width: 1em;
              }
            }
          }
        }

        .gc-slots {
          @apply flex h-full divide-x divide-dotted border-l bg-white dark:bg-gray-900;
          .gc-slot {
            @apply h-full w-6;
          }
        }

        .gc-hour:first-child .gc-hour-text-container {
          margin-left: 0;
        }

        .gc-hour:first-child .gc-slots {
          @apply border-l-0;
        }
      }

      .gc-events {
        @apply divide-y;
        .gc-resource {
          @apply min-h-8 relative z-30;
          .gc-spacer {
            @apply h-5;
          }

          .gc-all-day-event-container {
            @apply absolute;
          }
        }
      }

      .gc-selection-container {
        @apply absolute top-0 left-0 w-full h-full;

        .gc-selection {
          @apply relative h-full bg-amber-50 dark:bg-amber-800 top-0;
        }
      }
    }
  }
}
