.gc-timeline {
  @apply select-none;
  .gc-body {
    @apply flex divide-x overflow-hidden rounded-lg border text-xs;
    .gc-resources {
      width: 20em;

      .gc-spacers {
        @apply bg-gray-50 dark:bg-gray-900;
        .gc-spacer {
          @apply h-8;
        }

        .gc-spacer:last-child {
          @apply border-b;
        }
      }

      .gc-resource {
        @apply flex min-h-8 items-center px-2 py-1;
      }
    }

    .gc-main {
      @apply relative overflow-x-scroll bg-white dark:bg-gray-900;

      .gc-time-slot-lines {
        @apply absolute z-10 flex h-full divide-x;

        .gc-month {
          @apply flex h-full divide-x;
        }

        .gc-day {
          @apply flex h-full divide-x;
        }

        .gc-hour {
          @apply flex h-full divide-x divide-dotted;
        }

        .gc-time-slot {
          @apply h-full w-6;
        }
      }

      .gc-time-slot-heading {
        .gc-months {
          @apply flex h-full divide-x;
          .gc-month {
            @apply h-full bg-gray-50 dark:bg-gray-900;
            .gc-month-text {
              @apply flex h-8 items-center justify-center border-b;
            }
          }
        }

        .gc-days {
          @apply flex h-full divide-x;
          .gc-day {
            @apply h-full;
            .gc-day-text {
              @apply flex h-8 items-center justify-center border-b;
            }
          }
        }

        .gc-hours {
          @apply flex h-full;
          .gc-hour {
            @apply h-full;
            .gc-hour-text-container {
              @apply flex h-8 items-end border-b;
              margin-left: -0.5em;

              .gc-hour-text {
                @apply flex justify-center;
                width: 1em;
              }
            }
          }
        }

        .gc-slots {
          @apply flex h-full divide-x divide-dotted border-l bg-white dark:bg-gray-900;
          .gc-slot {
            @apply h-full w-6;
          }
        }

        .gc-hour:first-child .gc-hour-text-container {
          margin-left: 0;
        }

        .gc-hour:first-child .gc-slots {
          @apply border-l-0;
        }
      }

      .gc-events {
        @apply divide-y;
        .gc-resource {
          @apply relative z-30 min-h-8;
          .gc-spacer {
            @apply h-5;
          }

          .gc-all-day-event-position,
          .gc-timed-event-position {
            @apply absolute;
          }

          .gc-timed-event-container {
            @apply w-full;
          }

          .gc-all-day-event-container.gc-dragging,
          .gc-timed-event-container.gc-dragging {

            .gc-all-day-event {
              @apply shadow-lg ring-2 ring-gray-300 dark:ring-gray-600;
            }
          }

          .gc-timed-events {
            @apply w-full relative;

            .gc-timed-event-position {
              @apply absolute;

              .gc-timed-event-container.gc-start {
                .gc-timed-event .gc-head {
                  @apply absolute left-0 h-4 w-2 cursor-w-resize;
                }
              }

              .gc-timed-event-container.gc-end {
                .gc-timed-event .gc-tail {
                  @apply absolute right-0 h-full w-2 cursor-e-resize;
                }
              }

              .gc-timed-event-container.gc-hover {
                .gc-timed-event {
                  @apply bg-custom-100;
                }
              }

              .gc-timed-event-container {
                @apply flex items-center h-5;
                .gc-timed-event {
                  @apply relative flex items-center z-10 w-full cursor-pointer overflow-hidden whitespace-nowrap bg-custom-200 px-2 shadow dark:bg-custom-800;
                }
              }

              .gc-start {
                .gc-timed-event {
                  @apply rounded-l-sm pl-0.5;
                }
              }

              .gc-end {
                .gc-timed-event {
                  @apply rounded-r-sm pr-0.5;
                }
              }
            }
          }

        }
      }

      .gc-selection-container {
        @apply absolute left-0 top-0 h-full w-full;

        .gc-selection {
          @apply relative top-0 h-full bg-amber-50 dark:bg-amber-800;
        }
      }
    }
  }
}
