@tailwind base;

.gc-time-grid {
  .gc-body {
    @apply select-none divide-y rounded-lg border bg-white text-sm dark:bg-gray-900 overflow-x-scroll;

    .gc-time-slots-column {
      width: 5em;
    }

    .gc-days {
      @apply flex flex-grow divide-x;
      width: calc(100% - 5em);

      .gc-day {
        @apply flex-1 min-w-20;
      }
    }

    .gc-column-headings {
      @apply flex divide-x bg-gray-100 dark:bg-gray-800;

      .gc-day {
        @apply py-1 text-center;
      }
    }

    .gc-all-day-section {
      @apply flex divide-x;

      .gc-time-slots-column {
        @apply bg-gray-100 dark:bg-gray-800;
      }

      .gc-day {
        @apply relative text-xs;

        .gc-all-day-events,
        .gc-all-day-event-preview {
          @apply min-h-6 py-0.5;
        }

        .gc-all-day-event-preview {
          @apply absolute top-0;
        }

        .gc-all-day-events {
          .gc-all-day-event-container.gc-dragging {
            @apply invisible;
          }
        }
      }
    }

    .gc-timed-section {
      @apply flex divide-x;

      .gc-time-slots {
        @apply bg-gray-100 dark:bg-gray-800;
        width: 5em;

        .gc-hour {
          .gc-slot {
            margin-bottom: 1px;
            .gc-slot-content {
              @apply relative h-8 pr-1 text-right;
              top: -0.5lh;
            }
          }
        }
      }

      .gc-days {
        .gc-day {
          @apply divide-y text-xs;
          .gc-hour {
            @apply divide-y divide-dotted;
            .gc-slot {
              .gc-slot-content {
                @apply relative h-8;
              }
            }
          }
        }
      }

      .gc-timed-events,
      .gc-timed-event-preview {
        @apply relative h-full;
        .gc-timed-event-container {
          @apply absolute top-0 z-10 p-0.5;
          left: var(--gc-position);
          width: var(--gc-width);
          height: var(--gc-span);

          .gc-timed-event {
            @apply h-full cursor-pointer overflow-hidden rounded border-custom-400 bg-custom-200 p-1 hover:bg-custom-100;
            .gc-head {
              @apply absolute top-0 h-2 w-full cursor-n-resize;
            }

            .gc-tail {
              @apply absolute bottom-0 h-2 w-full cursor-s-resize;
            }
          }
        }

        .gc-timed-event-container.gc-dragging {
          @apply invisible;
        }

        .gc-timed-event-container.gc-hover {
          .gc-timed-event {
            @apply bg-custom-100;
          }
        }
      }

      .gc-timed-event-preview {
        @apply absolute top-0 h-full w-full;
        .gc-timed-event-container {
          @apply left-0 w-full;
          height: var(--gc-span);

          .gc-timed-event {
            @apply bg-custom-100 shadow-lg ring-2 ring-gray-300 dark:ring-gray-600;
          }
        }
      }
    }

    .gc-empty {
      @apply px-6 py-12;
      .gc-empty-content {
        @apply mx-auto grid max-w-lg justify-items-center text-center;
        .gc-empty-icon {
          @apply mb-4 rounded-full bg-gray-100 p-3 dark:bg-gray-500/20;
        }

        .gc-empty-text {
          @apply text-base font-semibold leading-6 text-gray-950 dark:text-white;
        }
      }
    }
  }
}
